DEBUG = True
SECRET_KEY = "CHANGE!ME"
SESSION_TIMEOUT = 3600

LDAP_CA = "/etc/ldap/ssl/CA.crt"
LDAP_URI = "ldaps://ldap.example.com"
LDAP_BASE = "dc=example,dc=com"

ADMINS = [ "cn=admin,ou=people,dc=example,dc=com" ]

USER_DN = "cn={user},ou=people,dc=example,dc=com"

USER_ATTRS = {
	'objectClass' : ['top', 'inetOrgPerson', 'organizationalPerson', 'person', 'posixAccount'],
	'cn' : '{user}',
	'gidNumber' : '{gid}',
	'givenName' : '{gn}',
	'homeDirectory' : '/home/{user}',
	'loginShell' : '/bin/bash',
	'mail' : '{user}@example.com',
	'sn' : '{sn}',
	'uid' : '{user}',
	'uidNumber' : '{uid}',
	'userPassword' : '{pass}'
}

GROUP_FILTER = "(objectClass=posixGroup)"

REDIS_HOST = "127.0.0.1"
REDIS_PASSWD = "foobared"
