<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/static/css/style.css" type="text/css" rel="stylesheet">
  <title>Binary Kitchen: Directory Self-Service</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <meta name="theme-color" content="#037">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <a href="/">
        <img class="img-responsive logo" src="/static/img/binary_kitchen.svg" alt="Binary Kitchen"/>
      </a>
      <hr/>
      <ul class="nav nav-pills nav-stacked">
        {% for ni, func in nav %}
        <li{%- if request.path == url_for(func) %} class="active"{% endif %}>
          <a href="{{ url_for(func) }}">{{ ni }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9 col-sm-9">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <footer>
    <p>Binary Kitchen: Directory Self-Service, <a href="https://github.com/moepman/bk-dss">source code</a> under
      MIT license, powered by <a href="https://flask.palletsprojects.com/">Flask</a> and <a href="http://getbootstrap.com/">Bootstrap</a>
    </p>
  </footer>
</div>
</body>
</html>
