{% extends "_base.html" %}
{% from "_helpers.html" import render_button, render_field %}
{% block content %}
      <div class="pb-2 mt-4 mb-3 border-bottom">
        <h1>Create user</h1>
      </div>
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.user) }}
        {{ render_field(form.uid) }}
        {{ render_field(form.sn) }}
        {{ render_field(form.gn) }}
        {{ render_field(form.pwd1) }}
        {{ render_field(form.pwd2) }}
        {{ render_field(form.group_pri) }}
        {{ render_button(form.submit) }}
      </form>
{% endblock %}
