{% from "_helpers.html" import render_field %}
{% extends "_base.html" %}
{% block content %}
      <div class="page-header">
        <h1>Create user</h1>
      </div>
      <form method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.user) }}
        {{ render_field(form.uid) }}
        {{ render_field(form.sn) }}
        {{ render_field(form.gn) }}
        {{ render_field(form.pwd1) }}
        {{ render_field(form.pwd2) }}
        <div class="form-group">{{ form.submit(class_="btn btn-primary") }}</div>
      </form>
{% endblock %}
