{% extends "_base.html" %}
{% block content %}
      <div class="page-header">
        <h1>List users</h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>CN</td>
            <td>DN</td>
          </tr>
        </thead>
        <tbody>
          {% for dn, attr in users %}
          <tr>
            <td>{{ attr['cn'][0] }}</td>
            <td>{{ dn }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
