{% extends "_base.html" %}
{% block content %}
      <div class="pb-2 mt-4 mb-3 border-bottom">
        <h1>List Accounts</h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>common name</td>
            <td>UID number</td>
            <td>distinguished name</td>
          </tr>
        </thead>
        <tbody>
          {% for cn, uin, dn in accounts %}
          <tr>
            <td>{{ cn }}</td>
            <td>{{ uin }}</td>
            <td>{{ dn }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
