{% extends "_base.html" %}
{% block content %}
      <div class="page-header">
        <h1>List Accounts</h1>
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>common name</td>
            <td>distinguished name</td>
          </tr>
        </thead>
        <tbody>
          {% for cn, dn in accounts %}
          <tr>
            <td>{{ cn }}</td>
            <td>{{ dn }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
